root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.lua]
indent_style = tab
indent_size = 4

[*.zsh]
indent_style = tab
indent_size = 4

[*.zsh-theme]
indent_style = tab
indent_size = 4

[zsh/.zshrc]
indent_style = tab
indent_size = 4

[tmux/.tmux.conf]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{toml,json,yaml,yml}]
indent_style = space
indent_size = 2

[ghostty/.config/ghostty/config]
indent_style = space
indent_size = 2
